<style>
  #meio.interno {padding: .5px;}
</style>

<div id="meio" class="interno">
  <div class="container">
  </div> <!-- /container -->
</div> <!-- /meio -->

<div id="conteudo">
<div class="container">
  <h1>Acesso não autorizado!</h1>
</div> <!-- /container -->
</div> <!-- /conteudo -->

